<button id="nav-trigger" aria-label="Open Navigation Menu">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
</button>

<div id="nav-overlay" class="hidden">
    <button id="nav-close" aria-label="Close Navigation Menu">
        &times; </button>
    
    <nav class="overlay-menu">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="faq.html">FAQ</a></li> 
            <li><a href="affiliate.html">Affiliate Program</a></li>
            <li><a href="policies.html">Policies</a></li>
            <li><a href="our-reviews-and-testimonials.html">Our Reviews And Testimonials</a></li>
            <li><a href="contact.html">Contact Us</a></li>
        </ul>
    </nav>
    <div class="overlay-info">
        <h3>InaraWell</h3>
    </div>
</div>
